:root {
  --offset: 250px;
}
.nav-link {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
@media (max-width: 768px) {
  :root {
    --offset: 0px !important;
  }
}
@media (max-width: 992px) {
  :root {
    --offset: 25vw;
  }
}
